<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header.ejs'); %>
        <%- body%>                          <!--body is filled with users_profile.ejs/other ejs files-->
        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>